{% extends 'news/base.html' %}
{% block desc %}{{ new.description }}{% endblock desc %}
{% block keywords %}{{ new.keywords }}{% endblock keywords %}
{% block title %}{{ new.title }}{% endblock title %}

{% block content %}

    <h1>{{ new.title }}</h1>
    <p>{{ new.text }}</p>
    <p>Категория: {{ new.category }}</p>
    <hr>
    {% for tag in new.tags.all %}
        <span>{{ tag.title }}, </span>
    {% endfor %}<br>
    Автор: {{ new.user }}<br>
    Дата создания: {{ new.created }}

{% endblock content %}